<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/components/bootstrap/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script  src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body>


{{>header}}

{{{body}}}
<section>
    <footer>
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <p class="footerTitle">¿Necesitas ayuda?</p>
                        <div id="textoAyuda">
                            <div>666 66 66 66</div>
                            <div><a href="mailto:">travel@geekstravels.com</a></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 d-flex align-items-center justify-content-center">
                        <div>
                            <div>
                                <a href="">Aviso legal</a>
                            </div>
                            <div>
                                <a href="">Contacto</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <p class="footerTitle">Suscríbete a la newsletter</p>
                        <form action="">
                            <input type="email" placeholder="email">
                            <button class="btn btn-outline-light text-light btn-sm">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="copyRight">
            Javier Pérez &copy; 2018 Todos los derechos reservados
        </div>
    </footer>
</section>
<script src="/components/jquery/dist/jquery.min.js"></script>
<script src='/components/bootstrap/dist/js/bootstrap.min.js'></script>
<script src="/javascripts/main.js"></script>
<script src="javscripts/main.js"></script>
</body>
</html>
