<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/components/bootstrap/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body>


{{>header}}

{{{body}}}

<script src="/components/jquery/dist/jquery.min.js"></script>
<script src='/components/bootstrap/dist/js/bootstrap.min.js'></script>
<script src="javascripts/main.js"></script>
</body>
</html>
