<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">-->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
            integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
            crossorigin="anonymous"></script>
</head>
<body>
<!--{{{body}}}-->

<section id="sectionNotFound">
    <div class="wrapper">
        <div class="container-fluid">
            <div id="divNotFound">
                <div>
                    <div id="cuatroCeroCuatro">
                        404
                    </div>
                    <div id="divTexto1">
                        Sentimos no haber encontrado lo que buscabas.
                    </div>
                    <div>
                        <div id="btnVuelta">
                            <a href="/">Llévame&nbsp;de&nbsp;vuelta</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/components/jquery/dist/jquery.min.js"></script>
<script src='/components/bootstrap/dist/js/bootstrap.min.js'></script>
</body>
</html>